@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
  scroll-behavior: smooth;
}


body {
  display: flex;
  justify-content: center;
}

section {
  width: 600px;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.05;
  text-align: left;
  margin: 15px 0;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.05;
  text-align: center;
}

h3 {
  margin: 5px 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.title-block {
  width: 600px;
  height: 210px;
  background-color: #6660dd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 16px 0 23px 0;
}

.answer-block {
  width: 286px;
  height: 286px;
  border-radius: 5px;
  box-shadow: #00000012 0 0 0 1px;
  text-align: center;
  margin-bottom: 15px;
  overflow: hidden;
}

.answer-block img {
  height: 80%;
}

.answer-block p {
  font-size: 11px;
  font-style: italic;
}

.answer-block a {
  color: #808080;
}
.answer-block a:hover {
  color: #6660dd;
  font-weight: 700;
}

.result-block {
  width: 600px;
  max-height: 400px;
  background-color: #f782bc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
}

.result-block h3 {
  margin-left: 10px;
}